.wrapper {
  background: var(--gray-500);
  padding: 1rem;
  flex: 1;

  width: 100%;
  border-radius: 8px;
}

.wrapper:focus {
  outline: var(--purple-dark);
}

.wrapper>input {
  outline: none;
  border: none;
  background: transparent;
  font-size: var(--font-lg);
  color: var(--gray-100);
    width: 100%;
}

.wrapper>input::placeholder {
  color: var(--gray-300);
}
.wrapper>input:focus {
  outline: none;
}
